<p id="notice"><%= notice %></p>

<p>
  <strong><%= @reservation.user.name %>'s Reservation:</strong>

</p>

<p>
  <strong>Start Date:</strong>
  <%= @reservation.start.strftime("%d") %> <%= @reservation.start.strftime("%b") %> <%= @reservation.start.strftime("%Y") %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @reservation.end.strftime("%d") %> <%= @reservation.end.strftime("%b") %> <%= @reservation.end.strftime("%Y") %>
</p>

<h5>Comments on this Reservation:</h5>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>

<%= link_to 'Comment on this Reservation', new_reservation_comment_path(@reservation) %><br>

<%= link_to 'Edit Reservation Dates', edit_reservation_path(@reservation) %> |
<%= link_to 'Back to Home', checkins_path %>
