<p id="notice"><%= notice %></p>

<p>
  <strong><%= @reservation.user.name %></strong>

</p>

<p>
  <strong>Start Date:</strong>
  <%= @reservation.start.strftime("%d") %> <%= @reservation.start.strftime("%b") %> <%= @reservation.start.strftime("%Y") %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @reservation.end.strftime("%d") %> <%= @reservation.end.strftime("%b") %> <%= @reservation.end.strftime("%Y") %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', checkins_path %>
