<p id="notice"><%= notice %></p>

<h1>Listing Checkins</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= checkin.user.name %> checked in ON <%= checkin.created_at.strftime("%d") %> <%= checkin.created_at.strftime("%b") %> <%= checkin.created_at.strftime("%Y") %> AT <%= checkin.created_at.strftime("%I") %>:<%= checkin.created_at.strftime("%M") %> <%= checkin.created_at.strftime("%p") %> </td>
        <td><%= link_to 'Show', checkin %></td>
        <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
        <td><%= link_to 'Destroy', checkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Listing Checkouts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= checkout.user.name %> checked out ON <%= checkout.created_at.strftime("%d") %> <%= checkout.created_at.strftime("%b") %> <%= checkout.created_at.strftime("%Y") %> AT <%= checkout.created_at.strftime("%I") %>:<%= checkout.created_at.strftime("%M") %> <%= checkout.created_at.strftime("%p") %> </td>
        <td><%= link_to 'Show', checkout %></td>
        <td><%= link_to 'Edit', edit_checkout_path(checkout) %></td>
        <td><%= link_to 'Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.name %> would like to reserve FROM <%= reservation.start.strftime("%d") %> <%= reservation.start.strftime("%b") %> <%= reservation.start.strftime("%Y") %> TO <%= reservation.end.strftime("%d") %> <%= reservation.end.strftime("%b") %> <%= reservation.end.strftime("%Y") %> </td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </tr>
    <% end %>

  </tbody>
</table>



<br>

<%= link_to 'New Checkin', new_checkin_path %>
<%= link_to 'New Checkout', new_checkout_path %>
<%= link_to 'New Reservation', new_reservation_path %>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit Account',edit_user_registration_path %>
