<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><%= notice %></strong>
</div>

<p>
  <strong><%= @checkin.user.name %></strong>
</p>

<p>
  <strong>Checked in ON:</strong>
  <br>
  <%= @checkin.created_at.strftime("%d") %> <%= @checkin.created_at.strftime("%b") %> <%= @checkin.created_at.strftime("%Y") %>
  <br>
  <br>
  <strong>AT: </strong>
  <br>
  <%= @checkin.created_at.strftime("%I") %>:<%= @checkin.created_at.strftime("%M") %> <%= @checkin.created_at.strftime("%p") %>
</p>

<%= link_to 'Remove', @checkin, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Home', checkins_path %>
